<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="#" (click)="silentRouting.navigate('chat')" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <i class="bi bi-chat-dots me-2" style="font-size: 2rem;"></i>
        <span class="fs-4">Chat App</span>
      </a>

      <ul class="nav nav-pills">
        <li class="nav-item"><a href="#" (click)="silentRouting.navigate('chat')" class="nav-link active" aria-current="page">Início</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Contato</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Sobre</a></li>
      </ul>
    </header>
</div>