<div class="text-center" style="margin-top: 10%;">
    <div class="form-signin w-25 mx-auto">
        <form>
            <i class="bi bi-box-arrow-in-right" style="font-size: 3rem;"></i>
            <h1 class="h3 mb-3 fw-normal">Digite um apelido</h1>
        
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" placeholder="Username" autocomplete="off" required autofocus>
                <label for="floatingInput">Apelido</label>
            </div>

            <button class="w-100 btn btn-lg btn-primary" type="submit" (click)="getUserName()">Entrar</button>
            <p class="mt-5 mb-3 text-muted">© 2022</p>
        </form>
    </div>
</div>
